# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore the virtual environment
venv/

# Ignore static files and media uploads (if applicable)
staticfiles/
media/

# Ignore the .env file with sensitive information
.env