/* Reset some default styles */
html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
}

/* Header styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent; /* Set the background color to transparent */
    color: #fff;
    z-index: 100;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.navbar-left,
.navbar-center,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.navbar-link:hover {
    color: #0077b6;
}

.user-image,
.home-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-image {
    margin-left: 10px;
}

.home-image {
    margin-right: 10px;
}   

/* Main content styles */
main {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#webApp {
    background-image: url("https://storage.googleapis.com/thomasd9e.appspot.com/website/webapps.jpg");
    background-size: cover;
    background-position: center center;
}

#webApp::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#manageData {
    background-image: url("https://storage.googleapis.com/thomasd9e.appspot.com/website/managedata.jpg");
    background-size: cover;
    background-position: center center;
}

#manageData::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#leadTeam {
    background-image: url("https://storage.googleapis.com/thomasd9e.appspot.com/website/leadateam.jpg");
    background-size: cover;
    background-position: center center;
}

#leadTeam::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#machineLearning {
    background-image: url("https://storage.googleapis.com/thomasd9e.appspot.com/website/machinelearning.jpg");
    background-size: cover;
    background-position: center center;
}

#machineLearning::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Text styles for sections */
section > div {
    position: relative;
    z-index: 1;    
    justify-content: center;
    padding: 20px;
    max-width: 680px; /* Limit width to 680px on larger screens */
    margin: 0 auto; /* Center the text horizontally */
}

section > div h2 {
    color: #fff;
    font-size: 2 em;
    text-align: center; /* Center the h1 element */
}

section > div p {
    color: #fff;
    font-size: 1 em;
}

/* Set styles for the footer */
footer {
    background-color: transparent; /* Set the background of the footer to be transparent */
    position: fixed; /* Use relative positioning to control footer placement */
    bottom: 0; /* Position the footer at the bottom of the viewport */
    left: 0; /* Align the footer to the left */
    right: 0; /* Align the footer to the right */
    text-align: center; /* Center the text horizontally */
    z-index: 100;
}

#footer-content {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    color: #fff;
}

.footer-left,
.footer-center,
.footer-right {
    display: flex;
    align-items: center;
}

.footer-link {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.footer-link:hover {
    color: #0077b6;
}

.skill-card {
    max-width: 300px;
    margin: 20px;
    padding: 10px;
    background-color: #caf0f8;
    border: 2px solid #00b4d8;
    border-radius: 10px;
    text-align: center;
}

.skill-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.skill-title {
    color: #0077b6;
    margin: 10px 0;
}

.skill-description {
    color: #000;
    font-size: 14px;
}

.single-page {
    box-sizing: border-box;
    min-height: 100vh; /* Set a minimum height of 100vh */
    background-color: #03045e;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 60px 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.single-page a {
    text-decoration: none;
    color: #fff;
}

.skill-card-container {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    justify-content: space-between;
}

.skill-card-container a {
    text-decoration: none;
}

.projects {
    box-sizing: border-box;
    min-height: 100vh; /* Set a minimum height of 100vh */
    background-color: #03045e;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 60px 0px;
    align-items: center;
    justify-content: center;
}

.projects a {
    text-decoration: none;
    color: #fff;
}

.project-image {
    width: 300px;
    height: auto;
    border-radius: 8px;
    float: left;
    padding: 20px;
}

.project-container {
    padding: 20px;
    max-width: 700px;
}

.project-container h2 {
    color: #fff;
    text-align: center; /* Center the h2 element */
}

@media screen and (max-width: 768px) {
    /* Adjust for smaller viewports */
    .welcome {
        min-height: auto; /* Remove the minimum height constraint */
        height: auto; /* Allow the height to adjust based on content */
    }
}

@media screen and (max-width: 480px) {
    /* Further adjust for even smaller viewports */
    .skill-card {
        flex-basis: calc(100% - 20px); /* One card per row */
    }
}

/* Set styles for the contact form */

.contact-container {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    box-sizing: border-box;
    min-height: 100vh; /* Set a minimum height of 100vh */
    background-color: #03045e;
}

.left-column, .right-column {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.left-column {
    background-color: white;
    color: black;
}

.right-column {
    background-color: #0077b6; /* A lighter shade of dark blue */
    color: white;
}

.form-group {
    margin-right: 20px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

button {
    padding: 10px 20px;
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-info {
    margin-top: 20px;
}

/* Responsive styles */
@media (max-width: 700px) {
    .contact-container {
        flex-direction: column-reverse; /* Stack right column on top */
    }

    .left-column, .right-column {
        flex: none; /* Reset flex sizing */
        width: 100%; /* Make each column take full width */
    }
}

/* Set styles for accounts app pages */

.accounts-main {
    box-sizing: border-box;
    min-height: 100vh; /* Set a minimum height of 100vh */
    background-color: #03045e;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 60px 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
