<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'website/favicon.ico' %}" type="image/x-icon">
    <title>Your Blog Title</title>
</head>
<body>
    <header>
        <h1><a href="{% url 'blog:post-list' %}">Your Blog</a></h1>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>© 2023 Your Blog Name</p>
    </footer>
</body>
</html>
