{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="accounts-main">
    <form method="post" id="loginForm">
        {% csrf_token %}
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        
        <input type="submit" value="Login" class="submitBtn">
    </form>
    <p>Don't have an account? <a href="{% url 'accounts:register' %}">Register</a></p>
    <p><a href="{% url 'accounts:password_reset' %}">Forgot password?</a></p>
</div>
{% endblock %}
