{% extends "base.html" %}

{% block title %}Set New Password - ThomasD9e{% endblock %}

{% block content %}
<div class="content">
    <h1>Set New Password</h1>
    <p>Please enter your new password below.</p>

    <!-- Display Non-Field Errors -->
    {% if form.non_field_errors %}
        <div class="error">{{ form.non_field_errors.as_text }}</div>
    {% endif %}

    <form method="post" id="setNewPasswordForm">
        {% csrf_token %}
        
        <label for="{{ form.new_password1.id_for_label }}">New Password:</label>
        <input type="password" name="{{ form.new_password1.name }}" id="{{ form.new_password1.id_for_label }}" required>
        <!-- Display Field Errors for New Password -->
        {% if form.new_password1.errors %}
            <span class="error">{{ form.new_password1.errors.as_text }}</span>
        {% endif %}

        <label for="{{ form.new_password2.id_for_label }}">Confirm New Password:</label>
        <input type="password" name="{{ form.new_password2.name }}" id="{{ form.new_password2.id_for_label }}" required>
        <!-- Display Field Errors for Confirm New Password -->
        {% if form.new_password2.errors %}
            <span class="error">{{ form.new_password2.errors.as_text }}</span>
        {% endif %}
        
        <input type="submit" value="Set Password" class="submitBtn">
    </form>
</div>
{% endblock %}
