{% extends "base.html" %}

{% load static %}

{% block title %}Password Reset - ThomasD9e{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'accounts/styles.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    <div class="heading">
        <h1>Reset Password</h1>
    </div>
    <div class="description">
        <p>Enter your email address below and we'll send you a link to reset your password.</p>
    </div>
    

    <!-- Display Non-Field Errors -->
    {% if form.non_field_errors %}
        <div class="error">{{ form.non_field_errors.as_text }}</div>
    {% endif %}

    <form method="post" id="resetPasswordForm">
        {% csrf_token %}
        
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="Email" required>
        
        <!-- Display Field Errors for Email -->
        {% if form.email.errors %}
            <span class="error">{{ form.email.errors.as_text }}</span>
        {% endif %}
        
        <input type="submit" value="Reset Password" class="submitBtn">
    </form>
</div>
{% endblock %}
