.content {
    display: grid;
    grid-template-areas:
        "heading"
        "description"
        "form";
    gap: var(--space-md);
    padding: var(--space-md);
    background-color: var(--neutral-lightest);
}

/* Form styles */
form {
    grid-area: form;
}

.description {
    grid-area: description;
    color: var(--brand-darker);
}

.heading {
    grid-area: heading;
    color: var(--brand-darker);
    text-align: center;
}

/* Responsive styles */
@media (min-width: 768px) {
    .content {
        grid-template-areas:
            "heading heading"
            "form description";
        grid-template-columns: 1fr 1fr;
    }
}