<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/website/styles.css' %}">
    <link rel="icon" href="{% static 'website/favicon.ico' %}" type="image/x-icon">
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="nav-list" id="navList">
                <li><a href="{% url 'index' %}" class="{% if request.path == '/' %}active{% endif %}">Home</a></li>
                <li><a href="{% url 'skills' %}" class="{% if 'skills' in request.path %}active{% endif %}">Skills</a></li>
                <li><a href="{% url 'projects' %}" class="{% if 'projects' in request.path %}active{% endif %}">Projects</a></li>
                <li><a href="{% url 'contact' %}" class="{% if 'contact' in request.path %}active{% endif %}">Contact</a></li>
                <li>
                    {% if user.is_authenticated %}
                        <a href="{% url 'accounts:profile' %}" class="{% if 'profile' in request.path %}active{% endif %}">Profile</a>
                    {% else %}
                        <a href="{% url 'accounts:login' %}" class="{% if 'login' in request.path %}active{% endif %}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>
    <main>
    {% for message in messages %}
        <div class="message {{ message.tags }}">
            {{ message }}
            <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
    {% endfor %}

    {% block content %}
    {% endblock %}
    </main>
    <footer>
        <div class="footer-container">
            <h6>&copy; 2023 ThomasDe.com. All rights reserved.</h6>
        </div>
    </footer>
</body>
</html>