<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'website/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'website/index.css' %}">
    <title>{% block title %}Your Website Title{% endblock %}</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-left">
                <a href="{% url 'index' %}" class="navbar-home">
                    <img src="{% static 'website/home.png' %}" alt="Home Image" class="home-image">
                </a>
            </div>
            <div class="navbar-center">
                <a href="" class="navbar-link">Skills</a>
                <a href="" class="navbar-link">Projects</a>
                <a href="" class="navbar-link">Contact</a>
            </div>
            <div class="navbar-right">
                <a href="" class="navbar-profile">
                    <img src="{% static 'website/profile.png' %}" alt="User Image" class="user-image">
                </a>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div id="footer-content">
            <div class="footer-left">
                <a href="" class="footer-link">Github</a>
            </div>
            <div class="footer-center">
                <p>© 2023 ThomasD9e.com</p>
            </div>
            <div class="footer-right">
                <a href="" class="footer-link">Resume</a>
            </div>
        </div>
    </footer>
</body>
</html>
