{% extends 'base.html' %}

{% load static %}

{% block title %}Contact - ThomasD9e{% endblock %}

{% block content %}
<div class="single-page">
    <h1>Contact</h1>
    <form action="{% url 'contact' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="message">Message</label>
            <textarea id="message" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}