{% extends 'base.html' %}

{% load static %}

{% block title %}Home - ThomasD9e{% endblock %}

{% block content %}
<div class="single-page">
    <h1>Hi, I'm Thomas deBlaquiere</h1>
    <h2>I can help you...</h2>
    <div class="skill-card-container">
        <a href="{% url 'skills'%}#webApp">
            <div class="skill-card">
                <img src="{% static 'website/webapps.jpg' %}" alt="Build Web Apps">
                <h2 class="skill-title">Build Web Apps</h2>
                <p class="skill-description">I create web applications using Python, JavaScript, Django, and React, leveraging cloud services, CI/CD workflows, and source control.</p>
            </div>
        </a>
        <a href="{% url 'skills' %}#manageData">
            <div class="skill-card">
                <img src="{% static 'website/managedata.jpg' %}" alt="Manage Data">
                <h2 class="skill-title">Manage Data</h2>
                <p class="skill-description">Experienced in end-to-end data management, from acquisition to visualization.</p>
            </div>
        </a>
        <a href="{% url 'skills' %}#leadTeam">
        <div class="skill-card">
            <img src="{% static 'website/leadateam.jpg' %}" alt="Lead a Team">
            <h2 class="skill-title">Lead a Team</h2>
            <p class="skill-description">A decade of leadership, optimizing teams and processes, skilled in communication and project management.</p>
        </div>
        </a>
        <a href="{% url 'skills' %}#machineLearning">
            <div class="skill-card">
                <img src="{% static 'website/machinelearning.jpg' %}" alt="Implement Machine Learning">
                <h2 class="skill-title">Implement ML/AI</h2>
                <p class="skill-description">Skilled in Python-based ML libraries, from data prep to model building, with applications in NLP and computer vision.</p>
            </div>
        </a>
    </div>
</div>
{% endblock %}