{% extends 'base.html' %}

{% load static %}

{% block title %}Projects - ThomasD9e{% endblock %}

{% block content %}
<div class="single-page">
    <h1>Projects</h1>
    <a href="{% url 'cfb_assistant' %}">
        <div class="project-container">
            <img src="{% static 'website/CFB_Assistant_cropped.png' %}" alt="CFB Assistant" class="project-image">
            <h2>CFB Assistant</h2>
            <p>CFB Assistant  demonstrates the integration of ChatGPT with a knowledge base to create a subject matter expert chatbot. CFB Assistant answers questions about the 2022 college football season. It uses semantic search to find articles that are most likely to contain the answers to your question. It then places that article into the context of a chatGPT API call and returns the response. This same approach can be used to create subject matter expert bots for any topic.</p>
        </div>
    </a>
</div>
{% endblock %}