{% extends 'base.html' %}
{% load static %}

{% block title %}Skills - ThomasD9e{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'website/skills_styles.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    <section class="web-app">
        <h2 class="web-app-heading">Build Web Apps</h2>
        <img class="web-app-image" src="{% static 'website/webapps.jpg' %}" alt="Web App">
        <div class="web-app-description">
            <p>Building web applications is my forte, utilizing a range of technologies and tools.</p>
            <ul>
                <li><strong>Core Technologies</strong>: Python, JavaScript, HTML, and CSS.</li>
                <li><strong>Frameworks</strong>: Django and React.</li>
                <li><strong>Deployment</strong>: Proficient with Cloud services and CLI tools.</li>
                <li><strong>Development</strong>:
                    <ul>
                        <li>Source control</li>
                        <li>Backend and frontend components</li>
                        <li>API creation</li>
                        <li>Testing</li>
                    </ul>
                </li>
                <li><strong>Workflows</strong>: Implementation of CI/CD.</li>
            </ul>
        </div>
    </section>

    <section class="manage-data">
        <h2 class="manage-data-heading">Manage Data</h2>
        <img class="manage-data-image" src="{% static 'website/managedata.jpg' %}" alt="Manage Data">
        <div class="manage-data-description">
            <p>Data management, from acquisition to visualization, is a key strength of mine.</p>
            <ul>
                <li><strong>Databases</strong>: SQL, PostgreSQL, Big Query, and MySQL.</li>
                <li><strong>Python Tools</strong>: Scrapy, Pandas, sklearn, matplotlib, and seaborn.</li>
                <li><strong>Design</strong>:
                    <ul>
                        <li>Expertise in relational database design and UML modeling.</li>
                        <li>Creation of cloud based data pipelines</li>
                    <ul>
                </li>
            </ul>
        </div>
    </section>

    <section class="lead-team">
        <h2 class="lead-team-heading">Lead a Team</h2>
        <img class="lead-team-image" src="{% static 'website/leadateam.jpg' %}" alt="Lead a Team">
        <div class="lead-team-description">
            <p>With over a decade in leadership roles, I've successfully managed and mentored diverse teams.</p>
            <ul>
                <li><strong>Skills</strong>:
                    <ul>
                        <li>Guiding improvement projects</li>
                        <li>Training and coaching</li>
                        <li>Process refinement</li>
                        <li>Conflict resolution</li>
                    </ul>
                </li>
                <li><strong>Certifications</strong>: Project+, ITIL 4, and Certified Scrum Master.</li>
            </ul>
        </div>
    </section>

    <section class="machine-learning">
        <h2 class="machine-learning-heading">Machine Learning</h2>
        <img class="mahcine-learning-image" src="{% static 'website/machinelearning.jpg' %}" alt="Machine Learning">
        <div class="machine-learning-description">
            <p>My strong mathematical foundation enables a deeper understanding of machine learning algorithms.</p>
            <ul>
                <li><strong>Python Libraries</strong>: Scikit-learn, TensorFlow, and Keras.</li>
                <li><strong>Skills</strong>:
                    <ul>
                        <li>Getting and cleaning data</li>
                        <li>Exporatory data analysis</li>
                        <li>Feature engineering</li>
                    </ul>
                </li>
                <li><strong>Techniques</strong>:
                    <ul>
                        <li>Supervised and unsupervised learning</li>
                        <li>Natural language processing</li>
                        <li>Computer vision applications</li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>
</div>
{% endblock %}



        

